@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color:#0a0a0c;
}
.car-img{
    position: absolute;
    width: 100%;
}
h1 {
    margin: auto;

}
p {
    font-size: 25px;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
  }