#hydrogen
{
    margin: 0 5vw 0 5vw;
    color: rgb(255, 245, 230);
    background-color: #0a0a0c;
    height: 74vh;
    font-size: 20px;
}

#hydrogen .Hy-text
{
    background-color: #0a0a0c69;
}

#hydrogen h1 {
    margin-right: 4rem;
}
