#hydrogen
{
    color: rgb(255, 245, 230);
    position:absolute;
    top: 100%;
    background-color: #0a0a0c;
    height: 90%;
    width: 100%;
    font-size: 20px;
}

#hydrogen .Hy-text
{
    margin-top: 10rem;
    background-color: #0a0a0c69;
}