.content{
    display: block;
    width: min-content;
    
}

.contact span{
    font-size: medium;
    color:rgb(112, 126, 129);
}
.contact .subs{
    color: white;
}
.highlight{
    color: rgb(10, 246, 180);
}
a {
    font-size: medium;
}