.ContactSlide{
    width: 100%;
}
.ContactSlide .row{
    width: 100%;
}
.content{
    display: block;
    width: min-content;
}

.contact{
    font-size: larger;
}
.contact span{
    
    color:rgb(112, 126, 129);
}
.contact .subs{
    color: white;
}
.highlight{
    color: rgb(10, 246, 180);
}
.map-image{
    max-height: 70vh;
    width: 70vw;
}