.ContactSlide{
    position: absolute;
    top: 545%;
    width: 100%;
}
.ContactSlide .row{
    width: 100%;
}
.content{
    display: block;
    width: min-content;
}

.contact{
    font-size: 25px
}
.contact span{
    
    color:rgb(112, 126, 129);
}
.contact .subs{
    color: white;
}
.highlight{
    color: rgb(10, 246, 180);
}
