.Design-1 {
    color: rgb(255, 245, 230);
    background-image: url("./FrontCar.png");
    background-size: cover;
    background-color: #0a0a0c;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:scroll;
    height: 74vh;
    margin: 0vh 12px 0 0;
}

.Design-1 .Design-1-text{
    padding-top: 20rem;
}