.footer{
    color: grey;

}

.footer svg{
    height: 25px;
    width: 25px;
}

.footer .copyright{
    width: max-content;
    color: grey;
}

.extraFooter .copyright{
    font-size: small;
    
}
.footerMenu{
    width: max-content;
}
.col-6{
    width: max-content;
}